  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta
    name="description"
    content="{{ description or 'Make Mosaik: Many Things, One Mosaik' }}"
  >

  <meta name="robots" content="index, follow">

  <link
    rel="canonical"
    href="https://makemosaik.com{{ page.url }}"
  >

  <link
    rel="icon"
    href="/favicon.ico"
    sizes="any"
  >
  <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48">
  <link rel="icon" type="image/png" href="/favicon-512x512.png" sizes="512x512">

  <!-- Open Graph -->
  <meta
    property="og:title"
    content="{{ title or 'Make Mosaik' }}"
  >

  <meta
    property="og:description"
    content="{{ description or 'Make Mosaik is a home for creative projects across games, film, digital experiences, events, and whatever else we decide to Make Mosaik' }}"
  >

  <meta
    property="og:image"
    content="https://makemosaik.com/assets/images/social-preview.webp"
  >

  <meta
    property="og:url"
    content="https://makemosaik.com{{ page.url }}"
  >

  <meta property="og:type" content="website">

  <meta
    property="og:site_name"
    content="Make Mosaik"
  >

  <!-- Twitter / X -->
  <meta name="twitter:card" content="summary_large_image">

  <meta
    name="twitter:title"
    content="{{ title or 'Make Mosaik' }}"
  >

  <meta
    name="twitter:description"
    content="{{ description or 'Make Mosaik is a home for creative projects across games, film, digital experiences, events, and whatever else we decide to Make Mosaik' }}"
  >

  <meta
    name="twitter:image"
    content="https://backroomsduckedition.com/assets/images/social-preview.webp"
  >
